<a href="https://colab.research.google.com/github/Gustavomanoelpo8/ListaPython/blob/main/datatime_ads_gustavo_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas
#instalando pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd
nomes = ['Jason', 'maria', 'gustavo']
idades = ['21', '19', '32']
dados = list(zip(nomes, idades))
print (dados)
df = pd.DataFrame(data = dados)
print (df)

[('Jason', '21'), ('maria', '19'), ('gustavo', '32')]
         0   1
0    Jason  21
1    maria  19
2  gustavo  32

In [ ]:
#modificando data frame
import pandas as pd
dados = [('maria', 19), ('gustavo', 21), ('Jason', 32)]
colunas = ['nomes', 'Idade']
linhas = ['A', 'B', 'C']
df = pd.DataFrame (data = dados, columns = colunas)
print(df)

     nomes  Idade
0    maria     19
1  gustavo     21
2    Jason     32

In [ ]:
import pandas as pd
nomes = ['Jason', 'maria', 'gustavo']
idades = ['21', '19', '32']
dados = list(zip(nomes, idades))
print(dados)
df = pd.DataFrame(data = dados)
print(df)

#manipulando a print
df.columns = ['nomes', 'idades']
df.index = ['A', 'B', 'C']
print(df)

[('Jason', '21'), ('maria', '19'), ('gustavo', '32')]
         0   1
0    Jason  21
1    maria  19
2  gustavo  32

*          0   1
0    Jason  21
1    maria  19
2  gustavo  32
     nomes idades
A    Jason     21
B    maria     19
C  gustavo     32

In [ ]:
import pandas as pd
print(df)
print(list(df.index))

     nomes idades
A    Jason     21
B    maria     19
C  gustavo     32
['A', 'B', 'C']

In [ ]:
import pandas as pd
print(df)
print(list(df.columns))

     nomes idades
A    Jason     21
B    maria     19
C  gustavo     32
['nomes', 'idades']

In [ ]:
import pandas as pd
print(df)
print(df.ndim)
#2
print(df.shape)
#3
print(df.size)
#4
print(df.empty)

     nomes idades
A    Jason     21
B    maria     19
C  gustavo     32
2
(3, 2)
False

In [ ]:
#manipulação de dados no dataframe

In [ ]:
#Acessando os dados no dataframe
import pandas as pd
print (df (df[0][0], df[0][1], df [0][2]))
print(df)

NameError: name 'df' is not defined

In [ ]:
import pandas as pd
print(df)
print(df.T)

     nomes idades
A    Jason     21
B    maria     19
C  gustavo     32
            A      B        C
nomes   Jason  maria  gustavo
idades     21     19       32

In [ ]:
import pandas as pd
print(df)
df.at['C', 'nomes']
df.at['A', 'nomes']

     nomes idades
A    Jason     21
B    maria     19
C  gustavo     32

'Jason'

In [ ]:
#Atividade 1
#Dataframe - dados dos alunos

import pandas as pd

nome_colegas = ['andré','maria','jason','carla','beatriz']
idade_colegas = [18, 21, 20, 19, 32]
notas_progComp = [12, 59, 100, 76, 40]
notas_bancoDados = [78, 43, 52, 42 ,56]
notas_logica = [90, 92, 67, 145, 64]

dados = {
    'Nome':nome_colegas,
    'Idade':idade_colegas,
    'Programação de computadores':notas_progComp,
    'Banco de dados': notas_bancoDados,
    'Lógicas': notas_logica
}


soma_idade = sum(notas_logica)
media_idade = soma_idade/len(notas_logica)

soma_progComp = sum(notas_progComp)
media_notaprog = soma_progComp/len(notas_progComp)

soma_BancoDados = sum(notas_bancoDados)
media_notabancodedados = soma_BancoDados/len(notas_bancoDados)

soma_logicas = sum(notas_logica)
media_logicas = soma_logicas/len(notas_logica)

print(media_idade)
print(media_notaprog)
print(media_notabancodedados)
print(media_logicas)

91.6
57.4
54.2
91.6
gustavo bobão